.ProductList {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

form {
  width: 650px;
}


input,
select {
  width: 300px;
  padding: 8px;
  font-size: 16px;
}

textarea {
  width: 300px;
  padding: 8px;
  font-size: 18px;
}

label {
  font-size: 22px;
}

.btn {
  padding: 10px 15px;
  font-size: 20px;
  background-color: #39A7FF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: all .5s ease;
}

.btn:hover {
  opacity: .8;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

tfoot {
  background-color: crimson;
  cursor: pointer;
}
tfoot:hover {
opacity: .8;
}

.listBtn {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}